.github-link{
    text-decoration: none;
    color: rgb(247, 137, 3);
}

.footer-link{
    text-decoration: none;
    color: rgba(80, 132, 1, 0.764);
}

.footer-container{
    margin: auto;
    width: 80%;
    border-top: 1px solid rgba(124, 125, 153, 0.615);
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 10px 0px;
    font-size: small;
}